.temperature-slice {
	display: flex;
	padding: 9px;
	aspect-ratio: 1;
	cursor: pointer;

	span {
		color: var(--white);
		font-weight: var(--fw-heavy);
		font-size: 18px;
		opacity: 0;
		text-shadow: var(--text-shadow);
	}
	&:hover {
		scale: 1.25;
		box-shadow: var(--box-shadow);
		border: 2px solid var(--black);
		& > span {
			opacity: 1;
		}
	}
}
