.temperature-slice {
	display: flex;
	justify-content: center;
	align-items: center;
	aspect-ratio: 1;
	cursor: pointer;
	span {
		color: var(--white);
		font-weight: var(--fw-heavy);
		font-size: 24px;
		opacity: 0;
	}
	&:hover {
		scale: 1.25;
		box-shadow: var(--box-shadow);
		border: 2px solid var(--black); // border: 0.45em solid #fff;
		& > span {
			opacity: 1;
		}
	}
}
