.temperature-slice {
	position: relative;
	display: flex;
	justify-content: space-between;
	padding: 8px;
	aspect-ratio: 1;
	cursor: pointer;
	overflow: hidden;
	border: 2px solid var(--black);
	box-shadow: var(--box-shadow--small);
	span {
		color: var(--white);
		font-weight: var(--fw-heavy);
		font-size: 18px;
		opacity: 0;
		text-shadow: var(--text-shadow);
		&:last-of-type {
			align-self: flex-end;
			text-transform: uppercase;
		}
	}
	&:hover {
		rotate: 0.5deg !important;
		z-index: 1;
		scale: 1.25;
		box-shadow: 0 8px 0 -4px rgba(0, 0, 0, 0.5);
		border-color: var(--black);
		& > span {
			opacity: 1;
		}
	}
}
