.grid {
	display: grid;
	grid-template-columns: repeat(12, 1fr);

	@media (max-width: 768px) {
		grid-template-columns: repeat(6, 1fr);
	}
}

//todo create component for this
.mock-square {
	aspect-ratio: 1;
	cursor: pointer;
	&:hover {
		border: 0.45em solid #fff;
	}
}

.tippy-box[data-theme~="default"] {
	font-weight: var(--fw-heavy);
	font-size: 36px;
	padding: 0;
	letter-spacing: -0.08em;
	background-color: unset;
}

.tippy-box[data-theme~="default"][data-placement^="top"] > .tippy-arrow::before {
	display: none;
}
.tippy-box[data-theme~="default"][data-placement^="bottom"] > .tippy-arrow::before {
	display: noneo;
}
.tippy-box[data-theme~="default"][data-placement^="left"] > .tippy-arrow::before {
	display: none;
}
.tippy-box[data-theme~="default"][data-placement^="right"] > .tippy-arrow::before {
	display: none;
}
