.months {
	height: 100%;
	display: flex;
	flex-direction: column;
	rotate: -0.5deg;
	gap: 8px;
	.temperature-slice {
		aspect-ratio: 10 / 1;
		min-height: 80px;
		span {
			&:last-of-type {
				align-self: flex-end;
				text-transform: uppercase;
			}
		}
		&:hover {
			scale: 1.01;
		}
	}
}
