.text-card {
	position: fixed;
	right: 25px;
	display: flex;
	flex-direction: column;
	gap: 22px;
	padding: 18px;
	background-color: var(--white);
	width: 280px;
	border: 2px solid var(--black);
	box-shadow: var(--box-shadow);
	rotate: 0.5deg;
	transition: bottom 500ms;

	button {
		position: absolute;
		top: 10px;
		right: 10px;
		font-size: 20px;
		color: var(--black);
		opacity: 0.5;
		border: unset;
		background-color: unset;
		cursor: pointer;
	}

	&__header {
		font-size: 32px;
		font-weight: var(--fw-heavy);
		text-transform: uppercase;
		line-height: 0.9em;
		letter-spacing: -0.09em;
	}

	&__blurb {
		font-size: 10px;
		margin: 0;
		color: var(--text-color--secondary);
		text-wrap: balance;
	}

	@media (min-width: 768px) {
		width: 370px;
		&__header {
			font-size: 36px;
		}
		&__blurb {
			font-size: 14px;
		}
	}
	@media (max-width: 380px) {
		left: 0;
		right: 0;
		margin: 0 auto;
		width: calc(100% - 40px);
		box-shadow: 0 8px 0 -4px rgba(0, 0, 0, 0.5);
	}
}
