.text-card {
	position: fixed;
	z-index: 999999;
	bottom: 25px;
	right: 25px;
	display: flex;
	flex-direction: column;
	gap: 22px;
	padding: 18px;
	background-color: var(--white);
	width: 280px;
	border: 2px solid var(--black);
	box-shadow: var(--box-shadow);

	button {
		position: absolute;
		top: 10px;
		right: 10px;
		font-size: 20px;
		color: var(--black);
		opacity: 0.5;
		border: unset;
		background-color: unset;
		cursor: pointer;
	}

	&__header {
		font-size: 32px;
		font-weight: var(--fw-heavy);
		text-transform: uppercase;
		line-height: 0.9em;
		width: 50%;
	}

	&__blurb {
		font-size: 10px;
		margin: 0;
		color: var(--text-color--secondary);
	}
}
