:root {
	--fw-regular: 400;
	--fw-heavy: 900;

	--black: #181818;
	--black-80: hsl(from var(--black) h s l / 0.8);
	--white: #fff;

	--box-shadow: 4px 4px 0 hsl(from var(--black) h s l / 0.5);
	--box-shadow--alt: -4px 4px 0 hsl(from var(--black) h s l / 0.5);
	--box-shadow--small: -2px 2px 0 hsl(from var(--black) h s l / 0.25);
	--text-shadow: 2px 2px 0 hsl(from var(--black) h s l / 0.15);

	--text-color: var(--black);
	--text-color--secondary: var(--black-80);
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

a {
	all: unset;
}

::-webkit-scrollbar {
	height: 0px;
	width: 0px;
	background-color: transparent;
}

html,
body {
	height: 100dvh;
}

body {
	margin: 0;
	display: flex;
	flex-direction: column;
	min-width: 320px;
	min-height: 600px;

	font-family: "Zed", sans-serif;
	line-height: 1.5;
	font-weight: var(--fw-regular);
	color: var(--text-color);

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

#root {
	flex: 1;
	padding: 20px;
	@media (min-width: 768px) {
		padding: 40px;
	}
}
